<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webpack App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <body>
      <ul>
      <% Object.keys(webpackConfig.entry).forEach( function(kv, el) { %>
          <li><a href='<%-kv%>.html'><%-kv%></a></li>
      <% });  %>
      </ul>
  </body>
</html>